<!-- create.html -->
{% extends "surveys/base.html" %}

{% block title %}Create Survey{% endblock %}

{% block main %}
<div class="row">
    <div class="col-lg-8 col-lg-offset-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">Create A New Poll</h3>
            </div>

            <form action ={% url 'create_survey' %} method='POST'>
                {% csrf_token %}
                <div class="panel-body">
                    <div class="row">
                        <div class="col-lg-12">
                            {{survey_form }}
                            <!---div class="form-group">
                                <label for="title">DESCRIBE YOUR SURVEY</label>
                                <textarea name="survey" id="SURVEY" class="form-control" rows="3"></textarea>
                            </!---div-->
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-info">Submit</button>
                
                
            </form>
        </div>
    </div>
</div>
{% endblock %}                      